<!DOCTYPE html>
<html>
  <head>
    <title>To Do Lists</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/js/dependencies/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            To-Do App<!-- <img alt="Brand" src="..."> -->
          </a>
        </div>
        <div class="navbar-text navbar-right">
          <% if (!req.session.user) { %>
            <button class="btn btn-md btn-success"><a href="/signup">Sign Up</a></button>
            <button class="btn btn-md btn-info"><a href="/login">Login</a></button>
          <% } else { %>
            Welcome, <%= req.session.user.email %>!
            <button class="btn btn-md btn-danger"><a href="/logout">Logout</a></button>
          <% } %>
        </div>
      </div>
    </nav>

    <div class="container" style="padding-top: 70px;">
      <div class="alert-info">
        <%- req.flash('message') %>
      </div>
      <div class="alert-warning">
        <%- req.flash('error') %>
      </div>
      <%- body %>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/jquery-2.1.3.min.js"></script>
    <script src="/js/dependencies/npm.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
