<div id="loginForm">
    <h3>Login</h3>
    <form id="loginForm" class="form" method="POST" onsubmit="/login">
        <label>Email</label>
        <input id="email" name="email" type="email" autofocus="" autcomplete="on" placeholder="you@domain.com" required><br>
        <label>Password</label>
        <input id="password" name="password" type="password" autcomplete="on" required><br>
        <button id="loginButton" type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
